<%- include('../partials/header') %>

<h2 class="text-center">registrar usuario</h2>

<form action="/auth/register" method="post" class="mt-3">

    <div class="mb-3">
        <label>nome</label>
        <input type="text" class="form-control" name="nome" required>
    </div>

    <div class="mb-3">
        <label>email</label>
        <input type="email" class="form-control" name="email" required>
    </div>

    <div class="mb-3">
        <label>senha</label>
        <input type="password" class="form-control" name="senha" required>
    </div>

    <button class="btn btn-success w-100">registrar</button>

</form>

<%- include('../partials/footer') %>
